@media (max-width: 1440px) {
    .block {
      width: 50%;
    } 
    .settingsModal {
      width: 60%;
    }
    .gameBox{
        height: auto;
    }

  }

@media (max-width: 1024px) {
    .block{
      width: 70%;
    }
    .settingsModal {
      width: 60%;
    }
    .gameBox{
      height: auto;
    }
  }


  @media (max-width: 768px) {
    .block{
      width: 80%;
    }
    .gameBox{
        height: auto;
    }
    .settingsModal {
      width: 75%;
    }
    .pauseModal {
      height: 270px;
    }
    .pauseModal button {
      height: 45px;
    }
  }
  
  @media (max-width: 480px) {
    .gameBox{
        max-height: 100vh;
    }
    .page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: calc(100vh - 50px);
    }
    .block {
      width: 100%;
      padding-top: 10px;
    }
    #mobileArrowButtons{
        display: flex;
        margin-top: 10px;
    }
    .mobileArrowUp{
        display: flex;
    }
    .mobileArrowDown{
      margin-top: 0px;
    }
    .scoreBox {
      font-size: 12px;
    }
    .pauseModal {
      height: 270px;
    }
    .pauseModal button {
      height: 45px;
    }
    .board{
      padding: 15px;
    }
    .settingsModal {
      width: 80%;
      height: 270px;
    }
    .levelModal button{
      padding: 4px 6px;
      border-radius: 5px;
      font-size: 12px;
    }
    #btnLevel{
      font-size: 12px;
    }
    #btnTheme{
      font-size: 12px;
    }
  }